In [4]:
import pandas as pd
df = pd.read_csv("netflix_titles.csv")

# Durée moyenne des films

In [3]:
df_duration = df[df["duration"].str.contains("min")]["duration"]
df_duration.str.replace("min", "").map(int).mean()

99.30797842663195

# Récupérer pays plus importants

In [5]:
df["country"].value_counts()[:3].to_dict()

{'United States': 2555, 'India': 923, 'United Kingdom': 397}

# Nombre de films par année

In [11]:
df["release_year"].value_counts().sort_index(ascending=False)[:10]

2021      31
2020     868
2019     996
2018    1121
2017    1012
2016     882
2015     541
2014     334
2013     267
2012     219
Name: release_year, dtype: int64

# Récupérer la liste des réalisateurs

In [8]:
df.director.dropna().unique().tolist()[:10]

['Jorge Michel Grau',
 'Gilbert Chan',
 'Shane Acker',
 'Robert Luketic',
 'Serdar Akar',
 'Yasir Al Yasiri',
 'Kevin Reynolds',
 'Shravan Kumar',
 'Vikram Bhatt',
 'Zak Hilditch']